.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
  }

  .main-body mat-form-field {
    width: 100%;
  }
  
  .action {
    display: flex;
    gap: 5px;
  }

  /* CSS for mouse hover effect */
.table-container table tr:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  