<div mat-dialog-title>
    <h1>Add Listing Form</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput type="text" formControlName="price" placeholder="Enter the price">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bathrooms</mat-label>
                <input matInput type="number" formControlName="bathrooms" placeholder="Enter the number of bathrooms">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Half Bathrooms</mat-label>
                <input matInput type="number" formControlName="halfBathrooms" placeholder="Enter the number of half bathrooms">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bedrooms</mat-label>
                <input matInput type="number" formControlName="bedrooms" placeholder="Enter the number of bedrooms">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Select Year</mat-label>
                <mat-select formControlName="yearBuilt">
                  <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Photo URL</mat-label>
                <input matInput type="text" formControlName="photoUrl" placeholder="Enter the photo URL">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address" placeholder="Enter the address">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input matInput type="text" formControlName="latitude" placeholder="Enter the latitude">
            </mat-form-field>            
            <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input matInput type="text" formControlName="longitude" placeholder="Enter the longitude">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>      
</form>
